<div class="container">
	<h3>Your Messages</h3>
	<br>
		<div class="message col-md-10 col-md-offset-1">
		  <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
		  <div class="message-name">
		    <h3>Gab Dehan</h3>
		    <p>10/07/17</p>
		  </div>
		  <div class="message-body">
		    <h6><strong>I am not sure yet!</strong></h6>
		    <h6>
		      I am not sure yet! I might be in Shanghai at this moment...
		    </h6>
		  </div>
		  <div class="message-status">
		    <p class="status pending">Pending</p>
		    <p class="price">€345</p>
	  	</div>
		</div>
</div>