// Specific CSS for your home-page
.thumbnail {
	background-color: #ffffff;
	margin-top: 35px;
	padding: 15px;
	margin-right: 0px;
	margin-left: 0px;
}

img.product-thumbnail {
	margin-right: 0px;
	margin-left: 0px;
	height: 230px;
}


p {
	font-size: smaller;
}

h3 {
	font-size: x-large;
}