<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/gbs0" target="_blank"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    This site is made with <i class="fa fa-heart"></i> by <i class="fab fa-gofore"></i>abriel
  </div>
</div>
	